.history/
client/bower_components/
client/node_modules/
client/.pulp-cache/
client/output/
client/generated-docs/
client/.psc-package/
client/.psc*
client/.purs*
client/.psa*
client/.spago

server/bower_components/
server/node_modules/
server/.pulp-cache/
server/output/
server/generated-docs/
server/.psc-package/
server/.psc*
server/.purs*
server/.psa*
server/.spago

playground/bower_components/
playground/node_modules/
playground/.pulp-cache/
playground/output/
playground/generated-docs/
playground/.psc-package/
playground/.psc*
playground/.purs*
playground/.psa*
playground/.spago

playground/src/Main.purs
