@font-face {
    font-family: 'Cormorant Garamond Bold';
    src: url('cormorantgaramond-bold.woff2') format('woff2'),
         url('cormorantgaramond-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cormorant Garamond Bold Italic';
    src: url('cormorantgaramond-bolditalic.woff2') format('woff2'),
         url('cormorantgaramond-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cormorant Garamond Light';
    src: url('cormorantgaramond-light.woff2') format('woff2'),
         url('cormorantgaramond-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cormorant Garamond Light Italic';
    src: url('cormorantgaramond-lightitalic.woff2') format('woff2'),
         url('cormorantgaramond-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cormorant Garamond Medium';
    src: url('cormorantgaramond-medium.woff2') format('woff2'),
         url('cormorantgaramond-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cormorant Garamond Medium Italic';
    src: url('cormorantgaramond-mediumitalic.woff2') format('woff2'),
         url('cormorantgaramond-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('cormorantgaramond-regular.woff2') format('woff2'),
         url('cormorantgaramond-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('cormorantgaramond-italic.woff2') format('woff2'),
         url('cormorantgaramond-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond Semibold';
    src: url('cormorantgaramond-semibold.woff2') format('woff2'),
         url('cormorantgaramond-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cormorant Garamond Semibold Italic';
    src: url('cormorantgaramond-semibolditalic.woff2') format('woff2'),
         url('cormorantgaramond-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}