<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/spiritjs/dist/spirit.js"></script>
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg
      width="400px"
      height="400px"
      viewBox="0 0 39 34"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      xmlns:serif="http://www.serif.com/"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
    >
      <g transform="matrix(1,0,0,1,15.6853,16.2316)">
        <path d="M3.379,6.769L9.165,16.789L-2.406,16.789L3.379,6.769Z" />
      </g>
      <g transform="matrix(1,0,0,1,15.6853,16.2316)">
        <path
          d="M-3.26,-4.732L0.493,1.768L-8.179,16.789L-15.685,16.789L-3.26,-4.732Z"
        />
      </g>
      <g transform="matrix(1,0,0,1,15.6853,16.2316)">
        <path
          d="M-0.373,-9.732L3.379,-16.231L22.444,16.789L14.938,16.789L-0.373,-9.732Z"
        />
      </g>
    </svg>
  </head>
  <body></body>
</html>
